@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --base0: #ffffff;
    --base1: #d4d4d4;
    --base2: #737373;


    --green1: #dcfce7;
    --green3: #22c55e;
    --green6: #052e16;
}

.dark-mode-colors {
    --base0: #0a0a0a;
    --base1: #262626;
    --base2: #dcfce7;
    --green6: #ffffff;
    --green1: #15803d;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--green6);
    background-color: var(--base0);
}

html{
    scroll-behavior: smooth;
}

p{
    color: var(--base2);
}

/* TRANSITION */
a, .btn{
    transition: all 300ms ease;
}

/* NAVIGATION DESKTOP */

header, .desktop_nav_links{
    display: flex;
}

header{
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    background-color: var(--base0);
}

.desktop_nav_links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.desktop_nav{
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
}

a{
    color: var(--green6);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: var(--green3);
    text-decoration: underline;
    text-underline-offset: 1rem;
    /*text-decoration-color: rgb(144, 141, 118);*/
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}



section{
    /*padding-top: 4vh;*/
    height: 96vh;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: fit-content;
}

main{
    display: flex;
    flex-direction: column;
}

/* PROFILE SECTION */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 92vh;
    flex-wrap: wrap;

}

.image_container{
    display: flex;
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
    min-height: 275px;
    min-width: 275px;
    margin: auto 0;
}

.text_container{
    align-self: center;
    text-align: center;
}

.text_container p{
    font-weight: 600;
}

.text_container_p1{
    font-size: 1.25rem;
}

.text_container_p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

.socials_container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.btn_container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn_color_1{
    border: var(--base2) 0.1rem solid;
    background: none;
    padding: 0.9rem;
    color: var(--green6);
}

.btn_color_2{

    background-color: var(--green1);
    color: var(--green6);
    border: none;
}

.btn_color_1:hover, .btn_color_2:hover{
    cursor: pointer;
    background-color: var(--green3);
    color: var(--base0);
}

.btn_container{
    gap: 1rem;
}

.btn_color_1:hover{
    border: none;
}

/*ABOUT SECTION*/

.top_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bottom_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: center;
    gap: 4rem;
}

.info_container{
    display: flex;
    justify-content: center;
    width: 50vw;
    gap: 2rem;
    flex-direction: column;

}

.boxes{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.box_detail{
    padding: 1.5rem;
    justify-content: center;
    flex: 2;
    background: var(--base0);
    border-radius: 2rem;
    border: var(--green6) 0.1rem solid;
    text-align: center;
}

#about{
    margin-top: 20vh;
    height: 87vh;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--base1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--base0);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--green3);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--green3);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.dm_mode_text{
    align-self: center;
}

#image2{
    border-radius: 2rem;
    overflow: hidden;
}